<ion-content>
<div class="header">
  <ion-buttons>
    <ion-button routerLink="/tabs/home">
      <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-buttons (click)="favorit()">
    <ion-button>
      <ion-icon *ngIf="!heart"  slot="icon-only" color="light" name="heart-outline"></ion-icon>
      <ion-icon *ngIf="heart" slot="icon-only" color="danger" name="heart"></ion-icon>
    </ion-button>
  </ion-buttons>
</div>


<!----FOOD DETAIL CARD-->
<div class="card">
  <div class="image">
    <img [src]="food.image">
  </div>
  <div class="card-content">
    <div class="card-title">
      <h1 class="ion-no-margin">{{food.title}}</h1>
      <p class="ion-no-margin"><sup>$</sup>{{food.price | number: '1.2'}}</p>
    </div>
  </div>
  <div class="rates">
    <app-badge icon="refresh-outline" text="30m"></app-badge>
    <app-badge icon="star-outline" text="4.5"></app-badge>
  </div>

  <div class="about">
    <h1>About</h1>
    <p>{{food.description}}</p>
  </div>

  <app-button (click)="additemtocart()">Add to Cart</app-button>
</div>
</ion-content>