<ion-content>
  <div class="header">
    <ion-buttons>
      <ion-button routerLink="/tabs/home">
        <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <div class="card">
    <img src="assets/pics/aymen.jpg">
    <div class="card-content">
      <div class="card-title">
        <h1>Aymen missaoui</h1>
        <p>developer.aymenmissaoui@gmail.com</p>
      </div>
    </div>

    <div class="about">
      <h1>General</h1> 
      <p>Profile settings</p>
      <p>Change Password</p>
      <p>Favorite</p>
      <p>History</p>
    </div>

    <app-button>Logout</app-button>
    <!-- <app-button>Delete Account</app-button> -->
  </div>
</ion-content>
